body {
    width: 100%;
    background-color: whitesmoke;

}

img {
    width: 35%;
    height: 300px;
}

form {
    margin: 40px;
}

.form-control{
    width: 40%;
}

.btn-primary {
    margin-top: 15px;
}

#seccionPrincipal{
    width: 90%;
    margin-left: 20px;
    margin-top: 20px;
}

#seccionSaldo {
    width: 40%;
    margin-left: 20px;
    margin-top: 20px;

}

#seccionIngresar {
    width: 60%;
    margin-left: 20px;
    margin-top: 50px;

}